NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
# Use ONE of the following (publishable key takes priority if both are set):
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

BOOKIFIED_BLOB_READ_WRITE_TOKEN=
